.bob-tt-2[data-v-b46d22dd]{border-bottom:.104167vw solid transparent}.r-18[data-v-b46d22dd]{right:-.9375vw}.bob-tt-2[data-v-d7d220d9]{border-bottom:.104167vw solid transparent}.r-18[data-v-d7d220d9]{right:-.9375vw}
